body {
	background: url("https://source.unsplash.com/category/nature") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
.bg-overlay {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 90;
    opacity: .8;
	background: rgba(255,102,0,1);
	background: -moz-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,102,0,1)), color-stop(25%, rgba(255,102,0,0.92)), color-stop(70%, rgba(189,24,112,0.78)), color-stop(100%, rgba(189,24,112,0.68)));
	background: -webkit-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
	background: linear-gradient(135deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#bd1870', GradientType=1 );
}
.quote {
	position: fixed;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#quote {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	text-align: center;
}