body {
	background-image: url("https://source.unsplash.com/category/nature/1600x900");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}